bitarray ; python_version >= "3.7" and python_version < "4"
cached-property ; python_version >= "3.7" and python_version < "3.8"
certifi ; python_version >= "3.7" and python_version < "4.0"
charset-normalizer ; python_version >= "3.7" and python_version < "4.0"
cytoolz ; python_version >= "3.7" and python_version < "4" and implementation_name == "cpython"
eth-abi ; python_version >= "3.7" and python_version < "4"
eth-account ; python_version >= "3.7" and python_version < "4"
eth-hash ; python_version >= "3.7" and python_version < "4"
eth-keyfile ; python_version >= "3.7" and python_version < "4"
eth-keys ; python_version >= "3.7" and python_version < "4"
eth-rlp ; python_version >= "3.7" and python_version < "4"
eth-typing ; python_version >= "3.7" and python_version < "4"
eth-utils ; python_version >= "3.7" and python_version < "4"
hexbytes ; python_version >= "3.7" and python_version < "4"
idna ; python_version >= "3.7" and python_version < "4.0"
msgpack ; python_version >= "3.7" and python_version < "4.0"
parsimonious ; python_version >= "3.7" and python_version < "4"
pycryptodome ; python_version >= "3.7" and python_version < "4"
requests ; python_version >= "3.7" and python_version < "4.0"
rlp ; python_version >= "3.7" and python_version < "4"
six ; python_version >= "3.7" and python_version < "4"
toolz ; python_version >= "3.7" and python_version < "4" and (implementation_name == "pypy" or implementation_name == "cpython")
urllib3 ; python_version >= "3.7" and python_version < "4.0"
websocket-client ; python_version >= "3.7" and python_version < "4.0"
